* {
  margin: 0;
  padding: 0;
  transition-property: color, background-color, border-radius;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

:root, #root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: var(--color-bg1);
  color: var(--color-txt1);
}

a {
  text-decoration: none;
  color: var(--color-txt2);
  padding: 3px;
  border-radius: 3px;
}

a:hover {
  color: var(--color-txt1);
  background-color: var(--color-txt-trs3);
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #7f7f7f;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
